<head>
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ site.name }}</title>

    <!-- Bootstrap4 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">


    <!--Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Fauna+One|Flamenco|Cantarell|ABeeZee' rel='stylesheet' type='text/css'>

    <!--My CSS-->
    <link rel="stylesheet" href="/css/custom.css">
</head>
